    ::-webkit-scrollbar {display: none;}
    *{font-family: Space Mono, sans-serif;
            font-style: normal;
            cursor: default;}
    body{margin:0 auto;
        overflow-x: hidden;}
    

    .Aclick{margin: 0 auto;
        position: fixed;
        display: block;
        background-color: transparent;
        height: 750px;
        width: 1333.3px;
        z-index: 200;}

        .A{margin: 0 auto;
        position: fixed;
        display: block;
        height: 750px;
        z-index: 0;}

       .day0header{margin: 0 auto;
        position: fixed;
        display: none;
        width: 1333.3px;
        z-index: 120;}
        .day1header{margin: 0 auto;
        position: fixed;
        display: none;
        width: 1333.3px;
        z-index: 120;}
        .day2header{margin: 0 auto;
        position: fixed;
        display: none;
        width: 1333.3px;
        z-index: 120;}
       

       .A2{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A3{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
       .A4{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A5{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A6{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A7{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A8{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A9{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A10{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A11{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A12{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A13{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A14{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A15{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A16{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A17{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A18{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A19{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A20{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A21{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A22{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .A23{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}

        .B1{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
        .B2{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}


    .eventicon{margin-top: 92px;
        margin-left: 17px;
        position: fixed;
        width: 21px;
        display: none;
        cursor: crosshair;
        z-index: 150;}
     .eventiconback{margin-top: 92px;
        margin-left: 17px;
        position: fixed;
        width: 21px;
        display: none;
        cursor: crosshair;
        z-index: 150;}

    .date{position: fixed;
    	margin-left: 14px;
    	margin-top: 112px;
    	display: none;
    	z-index: 150;}
    p{font-size: 19px;
    	line-height: 20px;}
    .event{position: fixed;
    	margin-left: 14px;
    	margin-top: 112px;
    	display: none;
    	z-index: 100;}
    .blank1{height: 42.5px;}
    .blank2{height: 18.5px;}
    .eventex{position: fixed;
    	margin-left: 53px;
    	margin-top: 191px;
    	display: none;
    	z-index: 150;}
    .Eventex1{font-size: 16px;
    	line-height: 20px;
    	color: #808080;
    	position: relative;
    	z-index: 150;}
    .blank3{height: 21.5px;}

    .Majorevents{text-decoration: underline;}
    a{text-decoration: none;
        cursor: crosshair;
    color: #000000;}
    a:hover{text-decoration: none;
    	color: #808080;}
    
    .diaryicon1{position: fixed;
        z-index: 150;
        margin-top: 24px;
        margin-left: 1271px;
        cursor: crosshair;
        display: none;
        width: 40px;
        height: 27px;}
    	.line1{background-color: #000000;
            width: 40px;
            height: 3px;
            margin-top: 15px;
            position: fixed;
            z-index: 150;
            transform: rotate(0deg);}
        .line2{background-color: #000000;
                width: 40px;
                height: 3px;
                margin-top: 8px;
                position: fixed;
                z-index: 150;
                transform: rotate(0deg);}

        .line3{background-color: #000000;
                width: 40px;
                height: 3px;
                margin-top: 35px;
                margin-left: 1271px;
                position: fixed;
                z-index: 150;
                display: none;
                cursor: crosshair;
                transform: rotate(20deg);}
        .line4{background-color: #000000;
                width: 40px;
                height: 3px;
                margin-top: 35px;
                margin-left: 1271px;
                position: fixed;
                z-index: 150;
                display: none;
                cursor: crosshair;
                transform: rotate(-20deg);}

    .diary{width: 500px;
    	height: 747px;
    	margin-left: 607px;
        position: absolute;}

    .bg{width: 600px;
    	height: 747px;
    	margin-left: -50px;
    	opacity: 0.6;
    	display: none;
    	position: fixed;
    	z-index: 80;}
    .blanktext{height: 112px;
    	display: none;}
    .title{font-size: 19px;
    	line-height: 20px;
    	position: relative;
    	display: none;
    	z-index: 100;}
    .text{position: relative;
    	font-size: 14px;
    	line-height: 20px;
    	display: none;
        z-index: 100;}


    .whiteblock{position: fixed;
        margin-left: 0px;
        margin-top: 745px;
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 200;}
    .bottomline{position: fixed;
        width: 1333.3px;
        height: 0.1px;
        background-color: transparent;
        margin-left: 0px;
        margin-top: 747px;
        box-shadow: 0px 3px 5px #000000;
        z-index: 250;}
    .bottomline2{position: fixed;
        width: 0.1px;
        height: 750px;
        background-color: transparent;
        margin-left: 1331.3px;
        margin-top: 0px;
        box-shadow: 3px 0px 5px #000000;
        z-index: 250;}

    .caption{position: fixed;
    	font-size: 14px;
    	line-height: 20px;
    	color: #808080;
        display: block;
        top: 192px;
        right: -156px;
        transform: rotate(90deg);
        z-index: 300;}
    span{margin-left: 23px;
        color: #808080;}
    span:hover{color: #c4c4c4;}

    a.cap:hover{text-decoration: none;}

    .leftA2{position: fixed;
    	z-index: 300;
    	width: 233px;
        height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA2{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA3{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA3{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA4{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA4{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA5{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA5{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA6{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA6{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA7{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA7{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA8{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA8{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA9{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA9{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA10{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA10{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA11{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA11{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA12{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA12{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA13{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA13{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA14{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA14{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA15{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA15{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA16{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA16{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA17{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA17{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA18{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA18{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA19{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA19{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA20{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA20{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA21{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA21{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA22{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA22{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}
    .leftA23{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 333px;}
    .rightA23{position: fixed;
    	z-index: 300;
    	width: 233px;
    	height: 674px;
    	display: none;
    	background-color: transparent;
    	margin-top: 75px;
    	margin-left: 1102px;}

    .leftB1{position: fixed;
        z-index: 300;
        width: 233px;
        height: 674px;
        display: none;
        background-color: transparent;
        margin-top: 75px;
        margin-left: 333px;}
    .rightB1{position: fixed;
        z-index: 300;
        width: 233px;
        height: 674px;
        display: none;
        background-color: transparent;
        margin-top: 75px;
        margin-left: 1102px;}

    .leftB2{position: fixed;
        z-index: 300;
        width: 233px;
        height: 674px;
        display: none;
        background-color: transparent;
        margin-top: 75px;
        margin-left: 333px;}





@media screen and (max-width:1280px){
	.Aclick{height: 576px;
    width: 1024px;}
    .A{height: 576px;}
    .A2{height: 576px;}
    .A3{height: 576px;}
    .A4{height: 576px;}
    .A5{height: 576px;}
    .A6{height: 576px;}
    .A7{height: 576px;}
    .A8{height: 576px;}
    .A9{height: 576px;}
    .A10{height: 576px;}
    .A11{height: 576px;}
    .A12{height: 576px;}
    .A13{height: 576px;}
    .A14{height: 576px;}
    .A15{height: 576px;}
    .A16{height: 576px;}
    .A17{height: 576px;}
    .A18{height: 576px;}
    .A19{height: 576px;}
    .A20{height: 576px;}
    .A21{height: 576px;}
    .A22{height: 576px;}
    .A23{height: 576px;}
    .B1{height: 576px;}
    .B2{height: 576px;}



    .day0header{width: 1024px;}
    .day1header{width: 1024px;}
    .day2header{width: 1024px;}


    .leftA2{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA2{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA3{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA3{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA4{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA4{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA5{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA5{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA6{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA6{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA7{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA7{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA8{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA8{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA9{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA9{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA10{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA10{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA11{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA11{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA12{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA12{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA13{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA13{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA14{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA14{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA15{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA15{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA16{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA16{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA17{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA17{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA18{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA18{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA19{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA19{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA20{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA20{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA21{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA21{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA22{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA22{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftA23{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA23{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftB1{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightB1{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 844px;}
    .leftB2{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}



    .bottomline{width: 1023px;
    margin-top: 573px;}
    .bottomline2{height: 576px;
    margin-left: 1022px;}
    .whiteblock{margin-top: 573px;
    	height: 192px;}
    .eventicon{margin-top: 82px;}
    .eventiconback{margin-top: 82px;}
    .date{margin-top: 102px;}
    .event{margin-top: 102px;}
    .eventex{margin-top: 181px;
    	margin-left: 14px;}
    .diaryicon1{margin-top: 16px;
  	  margin-left: 956px;}
    .line3{margin-top: 27px;
  	  margin-left: 956px;}
    .line4{margin-top: 27px;
  	  margin-left: 956px;}
  	.diary{width: 420px;
    	height: 573px;
    	margin-left: 458px;
        position: absolute;}
    .blanktext{height: 102px;}
    .bg{width: 520px;
    	height: 573px;}
    .caption{top: 600px;
    	left: 10px;
    	right: 0px;
        transform: rotate(0deg);}

}

@media screen and (max-width:1040px){
    .Aclick{height: 432px;
    width: 768px;}
    .A{height: 432px;}
    .A2{height: 432px;}
    .A3{height: 432px;}
    .A4{height: 432px;}
    .A5{height: 432px;}
    .A6{height: 432px;}
    .A7{height: 432px;}
    .A8{height: 432px;}
    .A9{height: 432px;}
    .A10{height: 432px;}
    .A11{height: 432px;}
    .A12{height: 432px;}
    .A13{height: 432px;}
    .A14{height: 432px;}
    .A15{height: 432px;}
    .A16{height: 432px;}
    .A17{height: 432px;}
    .A18{height: 432px;}
    .A19{height: 432px;}
    .A20{height: 432px;}
    .A21{height: 432px;}
    .A22{height: 432px;}
    .A23{height: 432px;}
    .B1{height: 432px;}
    .B2{height: 432px;}



    .day0header{width: 768px;}
    .day1header{width: 768px;}
    .day2header{width: 768px;}


    .leftA2{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA2{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA3{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA3{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA4{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA4{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA5{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA5{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA6{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA6{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA7{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA7{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA8{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA8{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA9{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA9{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA10{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA10{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA11{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA11{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA12{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA12{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA13{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA13{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA14{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA14{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA15{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA15{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA16{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA16{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA17{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA17{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA18{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA18{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA19{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA19{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA20{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA20{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA21{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA21{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA22{width: 180px;
    height: 518px;
    margin-top: 57px;
    margin-left: 254px;}
    .rightA22{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftA23{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightA23{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftB1{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}
    .rightB1{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 635px;}
    .leftB2{width: 133px;
    height: 384px;
    margin-top: 45px;
    margin-left: 193px;}



    .title{font-size: 14px;
        line-height: 16px;}
    .text{font-size: 12px;
        line-height: 16px;}
    p{font-size: 14px;
        line-height: 16px;}
    .Eventex1{font-size: 12px;
        line-height: 16px;}

    .blank1{height: 17.5px;}
    .blank2{height: 2.5px;}
    .blank3{height: 0.5px;}
    
    .bottomline{width: 767px;
    margin-top: 429px;}
    .bottomline2{height: 432px;
    margin-left: 766px;}
    .whiteblock{margin-top: 429px;
        height: 192px;}
    .eventicon{margin-top: 53px;
        width: 13px;
        margin-left: 13px;}
    .eventiconback{margin-top: 53px;
        width: 13px;
        margin-left: 13px;}
    .date{margin-top: 63px;}
    .event{margin-top: 63px;}
    .eventex{margin-top: 120px;
        margin-left: 14px;}
    .diaryicon1{margin-top: 11px;
    margin-left: 715px;}
    .line1{width: 30px;
    margin-top: 13px;
    height: 2px;}
    .line2{width: 30px;
    height: 2px;}
    .line3{margin-top: 21px;
      margin-left: 715px;
      width: 30px;
      height: 2px;}
    .line4{margin-top: 21px;
      margin-left: 715px;
      width: 30px;
      height: 2px;}
    .diary{width: 340px;
    height: 429px;
    margin-left: 309px;}
    .blanktext{height: 63px;}
    .bg{width: 420px;
        height: 429px;}
    .caption{font-size: 12px;
        line-height: 16px;
        top: 450px;}

}



