    ::-webkit-scrollbar {display: none;}
    *{font-family: Space Mono, sans-serif;
            font-style: normal;
            cursor: default;}
    body{margin:0 auto;
        overflow-x: hidden;}
    .A2,.A3,.A4,.A5,.A6,.A7,.A8,.A9,.A10,.A11,.A12,.A13,.A14,.A15,.A16,.A17,.A18,.A19,.A20,.A21,.A22,.A23,{margin: 0 auto;
        position: fixed;
        display: none;
        height: 750px;
        z-index: 0;}
    .day1header,.day2header,.day3header,.day4header,.day5header,.day6header,.day7header
       {margin: 0 auto;
        position: fixed;
        display: none;
        width: 1333.3px;
        z-index: 100;}
    .eventicon{margin-top: 92px;
        margin-left: 17px;
        position: fixed;
        width: 21px;
        display: block;
        cursor: crosshair;
        z-index: 150;}
     .eventiconback{margin-top: 92px;
        margin-left: 17px;
        position: fixed;
        width: 21px;
        display: none;
        cursor: crosshair;
        z-index: 150;}

    .date{position: fixed;
    	margin-left: 14px;
    	margin-top: 112px;
    	z-index: 150;}
    p{font-size: 19px;
    	line-height: 20px;}
    .event{position: fixed;
    	margin-left: 14px;
    	margin-top: 112px;
    	display: none;
    	z-index: 100;}
    .blank1{height: 42.5px;}
    .blank2{height: 18.5px;}
    .eventex{position: fixed;
    	margin-left: 53px;
    	margin-top: 191px;
    	display: none;
    	z-index: 150;}
    .Eventex1{font-size: 16px;
    	line-height: 20px;
    	color: #808080;
    	position: relative;
    	z-index: 150;}
    .blank3{height: 21.5px;}

    .Majorevents{text-decoration: underline;}
    a{text-decoration: none;
    color: #000000;}
    a:hover{text-decoration: underline;
    	color: #808080;}
    
    .diaryicon1{position: fixed;
        z-index: 150;
        margin-top: 24px;
        margin-left: 1271px;
         cursor: crosshair;
        width: 40px;
        height: 27px;}
    	.line1{background-color: #000000;
            width: 40px;
            height: 3px;
            margin-top: 15px;
            position: fixed;
            z-index: 150;
            transform: rotate(0deg);}
        .line2{background-color: #000000;
                width: 40px;
                height: 3px;
                margin-top: 8px;
                position: fixed;
                z-index: 150;
                transform: rotate(0deg);}

        .line3{background-color: #000000;
                width: 40px;
                height: 3px;
                margin-top: 35px;
                margin-left: 1271px;
                position: fixed;
                z-index: 150;
                display: none;
                cursor: crosshair;
                transform: rotate(20deg);}
        .line4{background-color: #000000;
                width: 40px;
                height: 3px;
                margin-top: 35px;
                margin-left: 1271px;
                position: fixed;
                z-index: 150;
                display: none;
                cursor: crosshair;
                transform: rotate(-20deg);}

    .diary{width: 500px;
    	height: 747px;
    	margin-left: 607px;
        position: absolute;}

    .bg{width: 600px;
    	height: 747px;
    	margin-left: -50px;
    	opacity: 0.6;
    	display: none;
    	position: fixed;
    	z-index: 80;}
    .blanktext{height: 112px;
    	display: none;}
    .title{font-size: 19px;
    	line-height: 20px;
    	position: relative;
    	display: none;
    	z-index: 100;}
    .text{position: relative;
    	font-size: 14px;
    	line-height: 20px;
    	display: none;
        z-index: 100;}

    .whiteblock{position: fixed;
        margin-left: 0px;
        margin-top: 745px;
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 200;}
    .bottomline{position: fixed;
        width: 1333.3px;
        height: 0.1px;
        background-color: transparent;
        margin-left: 0px;
        margin-top: 747px;
        box-shadow: 0px 3px 5px #000000;
        z-index: 250;}
    .bottomline2{position: fixed;
        width: 0.1px;
        height: 750px;
        background-color: transparent;
        margin-left: 1331.3px;
        margin-top: 0px;
        box-shadow: 3px 0px 5px #000000;
        z-index: 250;}

    .caption{position: fixed;
    	font-size: 14px;
    	line-height: 20px;
    	color: #808080;
        display: block;
        top: 192px;
        right: -156px;
        transform: rotate(90deg);
        z-index: 300;}
    span{margin-left: 23px;
        color: #808080;}
    span:hover{color: #c4c4c4;}

    a.cap:hover{text-decoration: none;}

    .leftd1p1{position: fixed;
    	z-index: 300;
    	width: 200px;
    	height: 700px;
    	display: block;
    	background-color: transparent;
    	margin-top: 50px;
    	margin-left: 333px;}
    .rightd1p1{position: fixed;
    	z-index: 300;
    	width: 200px;
    	height: 700px;
    	display: block;
    	background-color: transparent;
    	margin-top: 50px;
    	margin-left: 1134px;}




@media screen and (max-width:1280px){
    .day5p1{height: 576px;}
    .day7p1{height: 576px;}
    .bottomline{width: 1023px;
    margin-top: 573px;}
    .bottomline2{height: 576px;
    margin-left: 1022px;}
    .whiteblock{margin-top: 573px;
    	height: 192px;}
    .eventicon{margin-top: 82px;}
    .eventiconback{margin-top: 82px;}
    .date{margin-top: 102px;}
    .event{margin-top: 102px;}
    .eventex{margin-top: 181px;
    	margin-left: 14px;}
    .diaryicon1{margin-top: 16px;
  	  margin-left: 956px;}
    .line3{margin-top: 27px;
  	  margin-left: 956px;}
    .line4{margin-top: 27px;
  	  margin-left: 956px;}
  	.diary{width: 420px;
    	height: 573px;
    	margin-left: 458px;
        position: absolute;}
    .blanktext{height: 102px;}
    .bg{width: 520px;
    	height: 573px;}
    .caption{top: 600px;
    	left: 10px;
    	right: 0px;
        transform: rotate(0deg);}

}


